version: '3.1'

services:

  db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: f4st4p1

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

  api:
    build: .
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - .:/usr/src
    env_file:
      - .env
    command: ["uvicorn", "main:app", "--reload", "--host", "0.0.0.0", "--port", "8000"]
    depends_on:
      - db
